<div class="A4">
<section class="sheet">    
	{% if letter_head and not no_letterhead %}
		<div class="letter-head">{{ letter_head }}</div>
	{% endif %}
	
	<div class="print-heading">
		<h2>PACKING LIST</h2>
    </div>

	<div class="row margin-bottom">
		<div class="col-xs-12">
			<table width="100%" class="table-info">
				<tr>
					<td width="50%">
						<table width="100%">
							<tr>
								<td width="36%"><strong>MESSRS: </strong></td>
								<td width="64%">{{ doc.customer_name or "" }}</td>
							</tr>
							<tr>
								<td><strong>ADDRESS: </strong></td>
								<td>{{ doc.shipping_address or "" }}</td>
							</tr>
							<tr>
								<td><strong>TEL: </strong></td>
								<td>{{ doc.contact_mobile or "" }}</td>
							</tr>
							<tr>
								<td><strong>FROM: </strong></td>
								<td>{{ doc.port_of_embarc or ""}}</td>
							</tr>
							<tr>
								<td><strong>TO: </strong></td>
								<td>{{ doc.port_of_arrival or "" }}</td>
							</tr>
						</table>
					</td>
					<td width="50%">	
						<table width="100%">
							<tr>
								<td width="36%"><strong>Packing List N.: </strong></td>
								<td width="64%">{{ doc.name or "" }}</td>
							</tr>
							<tr>
								<td><strong>PAGE NO.: </strong></td>
								<td>1 of 1</td>
							</tr>
							<tr>
								<td><strong>DATE: </strong></td>
								<td>{{ frappe.utils.formatdate(doc.date) }}</td>
							</tr>
							{% if doc.shipment_way == "By Sea" %}
							<tr>
								<td><strong>CONTAINER N.: </strong></td>
								<td>{{ doc.container_number or "" }}</td>
							</tr>
							<tr>
								<td><strong>SEAL N.: </strong></td>
								<td>{{ doc.seal_number or "" }}</td>
							</tr>
							{% endif %}
							{% if doc.shipment_way == "By Air" %}
							<tr>
								<td><strong>AWB N.: </strong></td>
								<td>{{ doc.awb_number or "" }}</td>
							</tr>
							{% endif %}
							{% if doc.shipment_way == "By Courier" %}
							<tr>
								<td><strong>COURIER NAME: </strong></td>
								<td>{{ doc.courier_name or "" }}</td>
							</tr>
							<tr>
								<td><strong>TRACKING NUMBER: </strong></td>
								<td>{{ doc.tracking_number or "" }}</td>
							</tr>
							{% endif %}
							<tr>
								<td><strong>ETD: & ETA: </strong></td>
								<td>{{ frappe.utils.formatdate(doc.etd) }} & {{ frappe.utils.formatdate(doc.eta) }}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			<br>
			Deliver to Port:
		</div>
	</div>
	<div class="margin-top">
        <table class="table table-bordered table-condensed table-items">
            <tr>
                <th rowspan="2" width="10%">SHIPPING MARK</th>
                <th rowspan="2" width="33%">PRODUCT DESCIPTION</th>
                <th rowspan="2" width="13%">EAN</th>
				<th rowspan="2" width="4%">CTN.</th>
				<th rowspan="2" width="8%">Q.TY(PCS)</th>
				<th rowspan="2" width="8%">N.W.(kg)</th>
                <th rowspan="2" width="8%" width="4%">G.W.(kg)</th>
                <th colspan="3" width="12%">MEASURES(m)</th>
				<th rowspan="2" width="4%">CBM</th>
			</tr>
			<tr>
                <th>L</th>
				<th>W</th>
				<th>H</th>
			</tr>
			{%- for item in doc.items -%}
			<tr>
				{% if item.idx == 1 %}	
				<td rowspan="{{doc.items|length}}">{%- if doc.shipping_mark -%}{{ doc.shipping_mark|replace("\n","<br>")}}{%- endif %}</td>
				{% endif %}
				<td>
					<b>{{ item.against_sales_order or "" }} {{ item.po_no or "" }}</b><br>
					{{ item.item_name or "" }}-{{ item.item_code  or ""}}
				</td>
				<td class="">{{ item.ean or "" }}</td>
				<td class="text-right">{{ item.carton }}</td>
				<td class="text-right">{{ item.get_formatted("stock_qty", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("net_weight", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("gross_weight", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("length", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("width", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("height", doc) }}</td>
				<td class="text-right">{{ item.get_formatted("cbm", doc) }}</td>
			</tr>
			{%- endfor -%}
			<tr class="font-weight-bold">
				<td></td>
				<td>TOTAL</td>
				<td></td>
				<td class="text-right">{{ doc.total_carton }}</td>
				<td class="text-right">{{ doc.get_formatted("total_stock_qty") }}</td>
				<td class="text-right">{{ doc.get_formatted("total_net_weight") }}</td>
				<td class="text-right">{{ doc.get_formatted("total_gross_weight") }}</td>
				<td></td>
				<td></td>
				<td></td>
				<td class="text-right">{{ doc.get_formatted("total_cbm") }}</td>
			</tr>
		</table>
	</div>
	<div class="font-weight-bold">
		SAY TOTAL: {{ doc.total_carton_in_words|upper}} CARTON ONLY
	</div>
	<div class="margin-top font-weight-bold row">
		<div class="col-md-6"></div>
		<div class="col-md-6">FOR AND ON BEHALF OF MTM TECHNOLOGY LTD.</div>
	</div>
	<div class="margin-top row">
		<div class="col-md-6"><span class="font-weight-bold">REMARKS:</span> COUNTRY OF ORIGIN:CHINA</div>
		<div class="col-md-6 font-weight-bold">AUTHORIZED SIGNATURE:</div>
	</div>		
</div>
</section>

<style>{% include "mtmlogistic/templates/includes/print.css" %}</style>
<style>	
	.print-heading{
		text-align: center;
		border-bottom: none;
		padding-top: 20px;
		margin:0;
	}
	.print-heading h2{font-weight: bold;}
	.print-format .table-info td { padding: 2px !important; font-size:11px}

	.print-format .table-items td,
	.print-format .table-items th { padding: 2px !important; font-size:10px}
	.print-format .table-items th{text-align: center; vertical-align: middle !important;}
</style>